$Fraunces: "Fraunces", serif;
$Barlow: "Barlow", sans-serif;
$dark-grayish-blue: hsl(232, 10%, 55%);
$yellow: hsl(51, 100%, 49%);
$softRed: hsl(7, 99%, 70%);
$graphic-text-clr: hsl(167, 40%, 24%);
$photog-text-clr: hsl(198, 62%, 26%);
$darkBlue: hsl(212, 27%, 19%);
$grayish-blue: hsl(210, 4%, 67%);
$v-dark-grayish-blue: hsl(213, 9%, 39%);
$darkCyan: hsl(168, 34%, 31%);
$moderateCyan: hsl(168, 44%, 71%);
