.aboutSection > h1{
  padding-block: 3rem 2rem;
  font-weight: 400;
}
.aboutSection > p{
  opacity: .8;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.image{
  filter: grayscale(.7);
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.card > h2{
  font-weight: 500;
  margin-block: .5rem 1rem
}
.card > span{
  display: inline-block;
  opacity: .6;
  margin-bottom:1rem;
}
.card>button{
  border: 0;
  width: 100%;
  padding-block:.5rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.733);
  background-color: rgba(155, 155, 155, 0.123);
  margin-block:1rem;
  cursor: pointer;
}
.card>button:hover{
background-color: lightgray;
}

@media screen and (min-width:600px) and (max-width:1000px){

  .aboutSection > div{
    column-count: 2;
  }
  
}
@media screen and (min-width:1000px) {
  
  .aboutSection > div{
    column-count: 4;
  }
  
}

/* 
@media screen and (max-width:1500px) {
  .aboutSection{
      padding-inline:2rem; 
  }
} */