.contactSection > h1{
  padding-block: 3rem 2rem;
  font-weight: 400;
}
.contactSection > form >input:focus{
  outline: 0;
  border: 2px solid navy;
}

.contactSection > form > input{
  display: block;
  width: 100%;
  padding:.5rem .3rem;
  font-size: 1rem;
  margin-block: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.425);
}
.contactSection > form >button{
  border: 0;
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  padding:.5rem  1rem;
  margin-block: 1rem 4rem;
}
.contactSectionImage{
  width: 100%;
  height: auto;
}