.ctaSection {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ctaSection > h1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 1.8em;
  padding-top: 4rem;
}
.ctaSection > i {
  opacity: 0.6;
  margin-top: 1.5rem;
}
.datesContainer {
  position: relative;
  background-color: red;
  width: calc(100% - 2rem);
  max-width: 90ch;
  background-color: white;
  color: rgba(0, 0, 0, 0.644);
  margin-block: 2rem;
}

.datesContainer > * {
  position: relative;
  padding: 0.7rem 1rem;
}
.datesContainer > p:nth-of-type(2) {
  border-block: 1px solid rgba(124, 114, 114, 0.39);
}

.datesContainer > *::after {
  position: absolute;
  content: "Sold out";
  width: max-content;
  height: max-content;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  padding: 0.07rem 0.4rem;
  inset-block: 0;
  left: 22%;
  margin-block: auto;
  background-color: rgb(255, 30, 0);
}
.datesContainer > p:nth-of-type(2)::after {
  left: 19%;
}

.datesContainer > p:last-of-type::after {
  content: "3";
  border-radius: 50%;
  width: 1rem;
  background-color: black;
  line-height: 1.1rem;
  left: 90%;

  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.2rem;
}
.ctaContainer {
  width: calc(100% - 2rem);
  display: flex;
  gap: 1rem;
  margin-inline: 1rem;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7rem;
}
.ctaContainer > div {
  background-color: white;
  color: black;
  width: 100%;
  max-width: 90ch;
}

.ctaImage {
  width: 100%;
  height: auto;
}
.ctaImage:hover {
  filter: brightness(0.7);
}

.ctaContainer h2 {
  font-size: 1.2rem;
}
.ctaContainer p:nth-of-type(1) {
  opacity: 0.6;
}
.ctaContainer > div > *:not(.ctaImage) {
  margin: 0.5rem 1rem;
}
.ctaContainer > div > button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 100 !important;
  margin-bottom: 1rem !important;
  cursor: pointer;
}

.ctaContainer > div > button:hover {
  background-color: lightgray;
  color: black;
}

@media screen and (min-width: 600px) {
  .ctaContainer {
    flex-direction: row;
    max-width: 90ch;
  }
}
