@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
.footer {
  background-color: $moderateCyan;
  padding: 4rem 4rem;
  font-family: Barlow, sans-serif;
}
.logo1 {
  display: block;
  height: auto;
  margin-inline: auto;
  width: 200px;
}
.logo {
  fill: $darkCyan;
}
.navLinks,
.socialLinks {
  display: flex;
  justify-content: center;
  gap: 3rem;
  > * {
    color: $darkCyan;
    text-decoration: none;
  }
  > *:hover {
    color: white;
  }
}
.navLinks {
  padding-block: 2rem 6rem;
  opacity: 0.7;
  font-size: 1.1rem;
}
.socialLinks {
  gap: 2rem;
  font-size: 1.3rem;
}
.reference {
  position: absolute;
  inset-inline: 10%;
  margin-top: 20px;
  text-align: center;
  color: $darkCyan;
}
