@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
@import "variables";
.header {
  background: url("/desktop/image-header.jpg") no-repeat top/cover;
  @media screen and (width<400px) {
    background-image: url("/mobile/image-header.jpg");
  }
  min-height: clamp(34.5rem, 55.6vw, 55rem);
  color: white;
  font-family: Barlow, sans-serif;
  > input {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem clamp(1rem, 3.5vw, 2.8rem);

  > button:active {
    outline: 0;
  }
  > button {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    .hamburger {
      width: 25px;
      height: auto;
    }
  }

  .logo {
    height: clamp(1.5rem, 3vw, 2rem);
    width: auto;
  }

  > ul {
    display: flex;
    list-style: none;
    gap: clamp(1rem, 4vw, 3.1rem);
    margin-top: 0.3rem;
    > li > * {
      color: inherit;
      font-size: 1.1rem;
      text-decoration: none;
    }

    .navContact {
      color: black;
      text-transform: uppercase;
      font-family: Fraunces, serif;
      background-color: white;
      padding: 1.1rem 1.7rem;
      font-size: 1rem;
      border-radius: 2rem;
    }
    .navContact:hover {
      background-color: #fff5;
      color: white;
    }
  }
}

.title {
  text-align: center;
  font-family: Fraunces, serif;
  font-size: clamp(2.5rem, 5vw, 3.6rem);
  letter-spacing: 9px;
  margin-top: clamp(2.5rem, 4.5vw, 5.5rem);
  // background-color: red;
  font-weight: 900;
  text-transform: uppercase;
}

.arrowDown {
  display: block;
  height: clamp(110px, 7.7vw, 130px);
  margin-top: clamp(2.7rem, 6.3vw, 10rem);
  margin-inline: auto;
  width: auto;
}

// Mobile only

@media screen and (width<600px) {
  .header {
    > nav {
      padding-top: 2rem;
      > button {
        display: block;
      }
      
      > ul {
        transform: scaleY(0);
        transition: transform 0.4s linear;
        transform-origin: top;
        flex-direction: column;
        background-color: white;
        position: absolute;
        gap: 2rem;
        margin-top: 70px;
        color: $dark-grayish-blue;
        inset-inline: 1.5rem;
        text-align: center;
        padding-block: 3rem;
        > li > * {
          opacity: 0;
          font-size: 1.3rem;
          line-height: 0px;
          display: inline-block;
          transition: opacity 0.1s linear;
        }

        .navContact {
          background-color: $yellow;
          font-size: 1.1rem;
          padding-block: 1.6rem;
          color: #333;
        }
      }

      > ul::before {
        content: "";
        border: 2rem solid transparent;
        border-bottom-color: white;
        rotate: -90deg;
        position: absolute;
        right: 0rem;
        top: -2rem;
      }
    }

    > input:checked + nav {
      > ul {
        transform: scaleY(1);
        > li > * {
          transition: opacity 0.2s linear 0.3s;
          opacity: 1;
        }
      }
    }
  }
}
