.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-size: 0.85rem;
}

.header > nav > ul {
  list-style: none;
  display: flex;
}

.header i {
  color: white;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

.header i:hover {
  color: black;
  background-color: lightgray;
}

@media screen and (max-width: 550px) {
  .header {
    display: none;
  }
}
