//variables
$purple: hsl(259, 100%, 65%);
$font-clr: hsl(0, 1%, 44%);
$border-clr: lightgray;

.main {
  background-color: hsl(0, 0%, 94%);
  min-height: 100svh;
  display: grid;
  font-family: 'Poppins', sans-serif;;
  place-items: center;
  position: relative;

  >p{
    // display: block;
    position: absolute;
    bottom: 1rem;
    // z-index: 1321;
// inset-inline:10%;
  }
}

.ageCounter {
  background-color: white;
  width: 95%;
  max-width: 53rem;
  padding: 3.5rem clamp(1.5rem, 3vw, 3.5rem);
  border-radius: 1.5rem 1.5rem clamp(7rem, 19vw, 11.5rem) 1.5rem;
}

.inputsContainer {
  display: flex;
  gap: 4%;
  > div {
    display: flex;
    position: relative;
    flex-direction: column;
    > label {
      color: $font-clr;
      letter-spacing: 3px;
      padding-bottom: 0.5rem;
      font-size: 0.85rem;
    }
    > input {
      border: 1px solid $border-clr;
      width: clamp(6rem, 17vw, 10rem);
      font-size: clamp(1.2rem, 3vw, 1.9rem);

      border-radius: 0.5rem;
      padding: 1rem 1.3rem;
      font-weight: 600;
    }
    > p {
      display: none;
    }

    > input:focus,
    > input:hover {
      border: 1px solid $purple;
    }
    > input:placeholder-shown {
      color: #333;
    }
  }

  > div[invalid="true"] {
    > label {
      color: red !important;
    }
    > input {
      border: 1px solid red;
    }
    > p {
      display: block;
      color: red;
      bottom: -25px;
      position: absolute;
    }
  }
}

.arrowContainer {
  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: flex-end;
  @media screen and (width<390px) {
    // display: inline;
    justify-content: center;
  }
  > button {
    border: 0;
    background-color: transparent;
    margin-block: 2rem;
  }
}
.hr {
  height: 1px;
  background-color: $border-clr;
  position: absolute;
  width: 100%;
  inset-block: 50%;
  z-index: -312;
}
.arrow {
  cursor: pointer;
  display: block;
  background-color: $purple;
  max-width: clamp(60px, 10vw, 90px);
  height: auto;
  border-radius: 50%;
  padding: clamp(0.9rem, 3vw, 1.6rem);
}
.arrow:hover,
.arrowContainer > button:focus > .arrow {
  background-color: black;
}
.stats {
  font-size: clamp(3.7rem, 12vw, 6.5rem);
  line-height: clamp(4rem, 12vw, 6.8rem);
  > p {
    letter-spacing: -4px;
  }
}

.stats > p > span {
  color: $purple;
}

.stats > p > span[empty="true"] {
  display: inline-grid;
  place-items: center;
  width: 1.3em;
  height: 0.16em;
  background-color: $purple;
}
.stats > p > span[empty="true"]::before {
  content: "";
  display: block;
  transform: rotateZ(10deg);
  height: 160%;
  width: 25%;
  margin-bottom: 0.5em;
  background-color: white;
}
