@import "variables";

// Section1
.section1 {
  text-align: center;
  font-size: 18px;
  > * {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.section1Part2 {
  padding: 3.8rem 1.55rem;
  font-family: "Barlow", sans-serif;
  max-width: 50ch;
  margin-inline: auto;
  > h2 {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
    max-width: 15ch;
    margin-inline: auto;
    color: $darkBlue;
  }

  > p {
    color: $dark-grayish-blue;
    line-height: 1.85rem;
    padding-block: 2rem;
  }
  > button {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    color: $darkBlue;
    border: 0;
    font-weight: 900;
    font-size: 1rem;
    padding-inline: 0.3rem;
    cursor: pointer;
    background: #fff8 linear-gradient(to bottom, white 50%, $yellow);
    background-blend-mode: overlay;
  }
  > button:hover,
  > button:focus {
    background-color: #fff1;
  }
}

.section1Part4 {
  @extend .section1Part2;
  > h2 {
    max-width: 17ch;
  }
  > button {
    background-image: linear-gradient(to bottom, white 50%, $softRed);
  }
}

.section1Part5 {
  background: url("/mobile/image-graphic-design.jpg") no-repeat center / cover;
  padding-top: min(119.5vw, 30.5rem);
  color: $graphic-text-clr;
  padding-inline: 1rem;
  font-size: 1rem;
  > h3 {
    font-weight: 900;
    font-family: "Fraunces", serif;
    font-size: 1.7rem;
  }
  > p {
    font-family: "Barlow", sans-serif;
    line-height: 1.7rem;
    padding-block: 1.75rem min(5vw, 3.7rem);
    max-width: 40ch;
    margin-inline: auto;
  }
}
.section1Part6 {
  @extend .section1Part5;
  background-image: url("/mobile/image-photography.jpg");
  color: $photog-text-clr;
}

// Section2

.section2 {
  text-align: center;
  font-size: 18px;
  font-family:"Barlow", sans-serif;
  padding: 4rem 1.5rem 5.5rem;
  > div {
    display: grid;
    column-gap: 1rem;
  }
}
.card {
  margin-top: 4rem;
}
.cardText {
  line-height: 1.9rem;
  color: $v-dark-grayish-blue;
  max-width: 34ch;
  margin-inline: auto;
  margin-block: 2.1rem;
}
.title {
  font-family: "Fraunces", serif;
  color: $grayish-blue;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  font-weight: 900;
}
.cardImage {
  width: 72px;
  height: auto;
  border-radius: 50%;
}
.cardName {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.1rem;
  margin-bottom: 0.9rem;
}
.cardDesignation {
  color: $grayish-blue;
  font-size: 0.9rem;
}

// Section 3
.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  > * {
    width: 100%;
    height: auto;
  }
}

// only desktop
@media screen and (width>600px) {
  // Section 1
  .section1Part5 {
    background-image: url("/desktop/image-graphic-design.jpg");
    padding-top: max(13rem, 27.5vw);
  }
  .section1Part6 {
    background-image: url("/desktop/image-photography.jpg");
  }

  .section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    > * {
      height: 100%;
    }
  }

  .section1Part2 {
    order: -1;
    text-align: left;
    padding-left: min(6vw, 5.5rem);
    max-width: 35rem;
    height: max-content;
    margin: auto;

    > h2 {
      font-size: clamp(1.8rem, 3vw, 2.6rem);
      max-width: 16ch;
      margin: 0;
    }
    > p {
      padding-block: 2rem 2.5rem;
    }

    > button {
      margin: 0;
    }
  }

  .section1Part4 {
    order: 0;
    padding-left: min(3vw, 2.1rem);
    > p {
      max-width: 45ch;
    }
  }

  // Section 2
  .section2 {
    padding: min(12vw, 10rem) min(10vw, 9rem);
    > div {
      margin-top: 1.1rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .cardText {
    margin-block: 3.4rem 4.5rem;
  }
  .title {
    font-size: 1.1rem;
  }

  // Section 3
  .section3 {
    grid-template-columns: repeat(4, 1fr);
  }
}
