.main {
  table {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    background-color: rgba(26, 39, 77, 0.2);
    border-collapse: collapse;
    font-size: 1.3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;

    tr:nth-of-type(2n) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    td,
    caption,
    th {
      text-align: left;
      padding: 1rem 1rem;
    }

    th {
      background-color: lightblue;
    }
    td {
      text-align: left;
    }

    caption {
      font-size: 1.5rem;
      font-weight: bolder;
      background-color: black;
      color: white;
    }
  }
}

@media screen and (max-width: 500px) {
  .main {
    table {
      caption {
        font-size: 1.2rem;
      }
      th {
        display: none;
      }
      td {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        padding: 0 1rem;
      }

      td:first-of-type {
        padding-top: 0.5rem;
      }
      td:last-of-type {
        padding-bottom: 0.5rem;
      }

      td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
      }
    }
  }
}
