.checkbox {
  display: none;
}
.checkbox:checked + header {
  height: auto;
}

/* Main Bg-image */
.mainBgImg {
  position: relative;
  background: url("/ny.jpg") no-repeat top 45px center / contain;
  aspect-ratio: 1/0.6;
  animation: mainBgAnimate 30s infinite;
}

.mainBgImg::after,
.mainBgImg::before {
  font-family: system-ui;
  color: white;
  max-width: max-content;
  height: max-content;
  position: absolute;
  inset: 0;
  margin-inline: auto;
  cursor: text;
  margin-top: auto;
  bottom: 3rem;
  opacity: 0;
}

.mainBgImg::after {
  content: "The atmosphere in New York is lorem ipsum.";
  font-weight: bold;
  max-width: 35ch;
  text-align: center;
  animation: description 30s infinite;
}
.mainBgImg::before {
  content: "New York";
  animation: Title 30s infinite;
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
}

@keyframes description {
  0% {
    content: "Thank you, Chicago - A night we won't forget.";
  }
  33% {
    content: "We had the best time playing at Venice Beach!";
  }
  66% {
    content: "The atmosphere in New York is lorem ipsum.";
  }
}

@keyframes Title {
  0% {
    content: "Chicago";
  }
  33% {
    content: "Los Angeles";
  }
  66% {
    content: "New York";
  }
}

@keyframes mainBgAnimate {
  0% {
    background-image: url("/chicago.jpg");
  }
  33% {
    background-image: url("/la.jpg");
  }
  66% {
    background-image: url("/ny.jpg");
  }
}

/* Footer Section */
.footer {
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
.footer > div {
  display: flex;
  gap: 3px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.footer > div > i:hover {
  opacity: 0.5;
}

@media screen and (min-width: 600px) {
  .mainBgImg::after,
  .mainBgImg::before {
    opacity: 1;
  }

  .mainBgImg {
    aspect-ratio: 1/0.55;
  }
}

@media screen and (min-width: 1000px) {
  .mainBgImg {
    aspect-ratio: 1/ 0.53;
  }
  .mainBgImg::after {
    max-width: 40ch !important;
  }
}
