.container {
  min-height: 100vh;
  --bg-clr: rgba(24, 175, 175, 0.9);
  --text-clr: firebrick;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#faa3 50%, #ffff0033),
    url("https://unsplash.it/1500/1040") no-repeat center / cover;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: clamp(1.3rem, 2vw, 2rem);
  cursor: default;
}

.container > header {
  background-color: var(--bg-clr);
  position: fixed;
  width: 100%;
}
.container > header > h1 {
  color: var(--text-clr);
  padding-block: 0.5rem;
}
.toggleLabel {
  height: min-content;
  padding: 1rem 0rem;
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
  top: 0px;
  bottom: 0px;
  margin-block: auto;
}

.toggleLabel > span,
.toggleLabel > span::after,
.toggleLabel > span::before {
  display: block;
  position: relative;
  transition: transform ease-in-out 150ms;
  width: 2rem;
  height: 2px;
  background-color: white;
}
.toggleLabel > span::after,
.toggleLabel > span::before {
  content: "";
  position: absolute;
}
.toggleLabel > span::after {
  bottom: 0.5rem;
}
.toggleLabel > span::before {
  top: 0.5rem;
}

.container > header > nav > ul {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container > header > nav {
  position: absolute;
  background-color: var(--bg-clr);
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 250ms ease-in-out 100ms;
  padding-bottom: 0.5rem;
}

.toggleNav {
  display: none;
}
.toggleNav:checked ~ nav {
  transform: scale(1);
}

.toggleNav:checked ~ .toggleLabel > span {
  transform: rotate(45deg);
  transition: transform ease-in-out 200ms;
}

.toggleNav:checked ~ .toggleLabel > span:after {
  transition: transform ease-in-out 200ms;
  transform: rotate(90deg);
  inset: 0;
}
.toggleNav:checked ~ .toggleLabel > span:before {
  opacity: 0;
  inset: 0;
}

.toggleNav:checked ~ nav > ul {
  opacity: 1;
  transition: opacity 200ms ease-in-out 200ms;
}

.toggleLabel {
  cursor: pointer;
}
.container > header > nav > ul {
  list-style: none;
}
.link {
  text-transform: uppercase !important;
  text-decoration: none;
  color: var(--text-clr);
}
.link:hover {
  color: hsl(0, 88%, 61%);
  text-shadow: 0px 0px 30px 20px hsla(0, 88%, 71%, 0.9);
}
.link:active {
  color: transparent;
}

@media screen and (min-width: 800px) {
  .container > header {
    display: grid;
    gap: 3vw;
    grid-template: ". logo navbar ." /1fr auto auto 1fr;
  }
  .container > header > nav {
    grid-area: navbar;
    padding: 0px;
    transform: scale(1);
    background-color: transparent;
    position: relative;
  }
  .container > header > h1 {
    grid-area: logo;
  }

  .container > header > nav > ul {
    opacity: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(1rem, 3vw, 4rem);
  }
  .toggleLabel {
    display: none;
  }
}
