@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: hsl(213, 19%, 18%);
  width: 400px;
  height: 400px;
  border-radius: 30px;
  color: white;
  padding: 0px 35px;
  font-family: Overpass,sans-serif;
  font-size: 15px;
  cursor: default;

}

.image{
background-color: hsl(213, 19%, 22%);
display: flex;
justify-content: center;
align-items: center; 
width: 45px;
height: 45px;
border-radius: 50%;
}

.card p:nth-child(2){
font-size: 27px;
font-weight: 700;
}
.card p:nth-child(3){
line-height: 25px;
color:  hsl(217, 12%, 63%);
}

.rating{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.rating p{
display: flex;
align-items: center;
justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  /* text-align: center; */
  /* line-height: 60px; */
  background-color: hsl(213, 19%, 22%);
  font-size: 15px !important;
  color: white !important;
  
  /* background-color:red ; */
}

.rating p:nth-child(1)[active="1"]{
  background-color: hsl(25, 97%, 53%);
}

.rating p:nth-child(2)[active="2"]{
  background-color: hsl(25, 97%, 53%);
}
.rating p:nth-child(3)[active="3"]{
  background-color: hsl(25, 97%, 53%);
}
.rating p:nth-child(4)[active="4"]{
  background-color: hsl(25, 97%, 53%);
}
.rating p:nth-child(5)[active="5"]{
  background-color: hsl(25, 97%, 53%);
}
.rating p:hover{
  background-color: hsl(25, 97%, 53%);

}

.card button{
border: none;
color: white;
padding: 11px;
font-size: 15px;
letter-spacing: 2px;
border-radius: 20px;
background-color: hsl(25, 97%, 53%);
cursor: pointer;
}

.card button:hover{
  background-color: white;
  color: hsl(25, 97%, 53%);
}

@media screen and  (max-width:375px){
  .card{
    width: 90vw;
    height: 95vw;
  }  
}