.portfolio {
  text-align: center;
  color: #666;
  line-height: 2rem;
  > :first-child {
    background: #fff4 url("/parallax2.jpg") no-repeat center / cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    color: white;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-block: 13rem;
  }

  > h1 {
    padding-block: 5rem 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.7rem;
  }
  > i {
    display: block;
  }
  .imagesContainer {
    padding: 2rem;
    max-width: 1000px;
    margin-inline: auto;
    > * {
      width: 100%;
      height: auto;
    }
    > *:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
  > button {
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 0;
    margin-block: 3rem 5rem;
  }
}

.showImage {
  display: none;
}
.showImage[show="true"] {
  display: block;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 213;
  width: 100%;
  height: 100%;
  > .image {
    margin-top: 7rem;
    max-width: 410px;
    height: auto;
    animation: showImage 1s forwards;
  }
  > i {
    position: absolute;
    right: 0px;
    color: white;
    padding: 1.5rem;
    cursor: pointer;
  }
  > i:hover {
    background-color: lightgray;
    color: black;
  }
  > p {
    color: #cccc;
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@keyframes showImage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (width>600px) {
  .imagesContainer {
    column-count: 4;
  }
}
