.rating {
  position: relative;
  border-radius: 8px;
  padding: 1rem 0rem;
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  font-size: 1.1rem;
  font-weight: 700;
  width: 22rem;
  text-align: center;
  margin: 15px 0px;
}

.rating > div {
  margin-bottom: 1rem;
  display: flex;
  gap: 8px;
  justify-content: center;
}

@media screen and (min-width: 1120px) {
  .rating > div {
    margin: 0px;
  }
  .rating {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.2rem 0rem;
    min-width: 30rem;
    justify-content: center;
  }
}
