.reviewCard {
  position: relative;
  background-color: hsl(300, 43%, 22%);
  padding: 2.3rem;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 10px;
  max-width: 328px;
  color: white;
}
.image {
  display: inline;
  border-radius: 50%;
  width: 40px;
  height: auto;
}
.reviewCard > div {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 25px;
}
.reviewCard > div > div > p:nth-child(2) {
  color: hsla(333, 80%, 72%, 0.8);
  font-weight: 400;
}

.reviewCard > p {
  font-size: 16px;
  line-height: 23px;
}

@media screen and (min-width: 1120px) {
  .reviewCard {
    max-width: 23.2rem;
    margin: 0px;
  }
}
